body{
	background:#333333 url(images/page-bg.jpg);
	margin:0px;
	font: 400 12px/22px 'Open Sans', Verdana, Helvetica, sans-serif;
	color:#6a6969;
}
h1{font: 400 58px/60px 'Bree Serif', Georgia, serif; color:#6a6969;}
h2{font: 400 18px/22px 'Bree Serif', Georgia, serif; color:#6a6969;}
h3{font: 400 14px/16px 'Bree Serif', Georgia, serif; color:#6a6969;}
ul{margin:0px; padding:0px;}
a {text-decoration:none; color:#6a6969;}
a:hover {color:#979797;}
a img{border:0px;}

#container{
	width:950px;
	margin:0px auto 300px auto;
	background:url(images/body-bg.png);
	overflow:auto;
	padding-bottom:100px;
}

/****************************************************/
/* HEADER */
/****************************************************/

#header{
	width:864px;
	height:90px;
	background-color:#222222;
	padding:0px 43px;
	position: fixed;
	top:0px;
	left:50%;
	margin: 0 0 0 -475px;
}
#header #logo{
	padding-top:40px;
	float:left;
}
#header #main-menu{float:right; padding-top:45px;}
#header #main-menu li{
	float:left;
	list-style:none;
	margin-left:27px;
	font: 400 16px/20px 'Bree Serif', Georgia, serif;
}

/****************************************************/
/* ABOUT SECTION */
/****************************************************/

#about{margin:0px 43px; padding-top:115px;}
#about h1{float:left;}
#about .content{overflow:auto;}
#about .content img{float:left; margin-right:40px; border:5px solid #c9df0a;}

/****************************************************/
/* WORK SECTION */
/****************************************************/

#work{margin:0px 43px; padding-top:115px;}
#work .content{overflow:auto;}
#work #work-thumbs li{
	list-style:none;
	float:left;
	margin:0px 20px 15px 0px;
	padding:0px;
}
#work #work-thumbs li.last{margin:0px;}

/****************************************************/
/* CONNECT SECTION */
/****************************************************/
#connect{margin:0px 43px; padding-top:115px;}
#connect .content{overflow:auto;}
#connect #form{
	width:410px;
	float:left;
}
#connect #form span{
	display:block;
	float:left;
	width:100px;
	padding-top:5px;
	font: 400 14px/16px 'Bree Serif', Georgia, serif;
}
#connect #form input{
	float:left;
	width:255px;
	border:0px;
	color:#3b3b3b;
	padding:10px 10px 10px 30px;
	font: 400 11px/20px 'Open Sans', Verdana, Helvetica, sans-serif;
	margin-bottom:10px;
}
#connect #form textarea{
	float:left;
	border:0px;
	width:255px;
	height:100px;
	padding:10px 10px 10px 30px;
	font: 400 11px/20px 'Open Sans', Verdana, Helvetica, sans-serif;
	color:#3b3b3b;
}

#connect #form input.name{background:#222222 url(images/icon-user.png) no-repeat 10px 8px;}
#connect #form input.email{background:#222222 url(images/icon-mail.png) no-repeat 10px 9px;}
#connect #form textarea.message{background:#222222 url(images/icon-message.png) no-repeat 10px 8px;}
#connect #form input.submit{ 
	width:75px;   
	height:30px;
	float:right;
	padding:0px 0px 5px 0px;
	margin:10px 16px 0px 0px;
	background:#222222;
	color:white;
	font: 400 14px/16px 'Bree Serif', Georgia, serif;
}

#connect #social-footer{
	width:300px;
	float:left;
	margin-left:75px;
}
#connect #social-footer #sm-links{margin-top:25px;}
#connect #social-footer #sm-links li{
	list-style:none;
	float:left;
}
#connect #social-footer #sm-links li a{
	display:block;
	text-indent:-9999px;
	width:26px; 
	height:26px;
	margin-right:10px;
}


#footer{
	text-align: center;
	font-size:large;
	color: white;
	
}

/****************************************************/
/* MISC */
/****************************************************/
.top-divider, .bottom-divider{
	width:100%;
	height:9px;
	background:url(images/divider.png) repeat-x;
	clear:both;
}
.top-divider{margin-bottom:40px;}
.bottom-divider{margin-top:40px;}
