#main{
    width: 40%;
    background-color: blue;
    height: 800pt;
    display:inline-block;
    
}

#pic{
    width: 60%;
    background-color: red;
    height: 500pt;
    display: block;
    float: right;
}

#about{
    top: 10%;
    text-align: center;
    align-items: center;
    width:50px;
    background-color: yellow;
    height: 30px;
}